body {
  background-color: #222;
  color: #fff;
  font-family: sans-serif;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

a:link, a:visited {
  color: #ccc;
}

a:active {
  color: #cce;
}


header #block-baxter-t-branding h1 {
  text-align: center;
  font-family: serif;
  font-size: 2rem;
}

header #block-baxter-t-branding a {
  text-decoration: none;
  color: white;
}

main #block-baxter-t-local-tasks > ul {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: white;
  width: 100%;
  padding-left: 0;
}

main #block-baxter-t-local-tasks > ul > li {
  display: inline-block;
  list-style-type: none;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: .25em .25em 0 0;
  margin-bottom: -1px;
  margin-left: 1em;
  background-color: #444;
}

main #block-baxter-t-local-tasks > ul > li.is-active {
  border-bottom-color: #222;
  background-color: #222;
}

main #block-baxter-t-local-tasks > ul > li > a {
  padding: .25em .5em;
  display: block;
  text-decoration: none;
}

main .baxter-front > .views-row:first-child h2,
main aside > div:first-child h2 {
  margin-top: 0;
}

main article footer {
  font-size: smaller;
  color: #ddd;
}

main article img {
  max-width: 100%;
}

main .baxter-front article::after {
  width: 50%;
  height: 1em;
  border-bottom: 1px dotted gray;
  display: block;
  content: "";
  margin: 0 auto;
}

@media screen and (min-width: 640px) {
  main {
    display: flex;
  }

  main > aside {
    width: 200px;
  }
  main > aside.layout-sidebar-first {
    order: 0;
    margin-right: 1em;
  }

  main > aside.layout-sidebar-second {
    order: 2;
    margin-left: 1em;
  }

  main > div.layout-content {
    order: 1;
    flex: 1 0 auto;
  }
}

@media screen and (min-width: 800px) {
  header #block-baxter-t-branding h1 {
    font-size: 3rem;
  }
}
